<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DramaFlowApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="DramaFlow"
        android:supportsRtl="true"
        android:theme="@style/Theme.DramaFlow">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DramaFlow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="open"
                    android:pathPrefix="/"
                    android:scheme="dramaflow" />
            </intent-filter>
        </activity>
    </application>

</manifest>
